

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-1">
      <div class="form-group">
      <input class="form-control"  placeholder="Add your list here..."  #name> 
    
      </div>
     
      <button class="btn btn-primary" type="submit" (click)="addToList(name.value)" style="margin-bottom:10px">Add To List</button>
      <button class="btn btn-danger" (click)="Remove(index)" style="margin:0px 0px 10px 4px" >Remove</button>

     
    </div>
  </div>
  </div>
  
      © 